<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Interface의 구현 클래스 -->
<mapper namespace="com.jin.mapper.BoardMapper">

	<!-- 게시글 전체조회 -->
	<select id="listWithPage" parameterType="search">
		SELECT b.*
		FROM  (SELECT rownum rn, a.* 
		       FROM  (SELECT   *
		              FROM 	   tbl_board
		             <where>
					  	<choose>
					       	<when test="searchCondition == 'T'.toString()">
					       			UPPER(title) like '%' || UPPER(#{keyword}) || '%'
					       	</when>
					       	<when test="searchCondition == 'W'.toString()">
					       			UPPER(member_id) like '%' || UPPER(#{keyword}) || '%'	
					      		</when>
					       	<when test="searchCondition == 'TW'.toString()">
					        		(UPPER(member_id) like '%' || UPPER(#{keyword}) || '%')
			        	OR		 	(UPPER(title)  	  like '%' || UPPER(#{keyword}) || '%')	 
					       	</when>
			    		</choose>
				     </where>
		              
		              ORDER BY board_no DESC) a) b
		WHERE  b.rn >  (#{page} -1 ) * 10
		<![CDATA[
		AND    b.rn <= (#{page} * 10)
		]]>
		
	</select>
	
	<select id="selectCount" parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM   tbl_board
	   <where>
			<choose>
			  	<when test="searchCondition == 'T'.toString()">
      			UPPER(title) like '%' || UPPER(#{keyword}) || '%'
      			</when>
      			<when test="searchCondition == 'W'.toString()">
      			UPPER(member_id) like '%' || UPPER(#{keyword}) || '%'	
     			</when>
      			<when test="searchCondition == 'TW'.toString()">
       			(UPPER(member_id) like '%' || UPPER(#{keyword}) || '%')
     	OR		(UPPER(title)  	  like '%' || UPPER(#{keyword}) || '%')	 
      			</when>
 			</choose>
	   </where>
	</select>
	
	<insert id="insertBoard" parameterType="board">
		INSERT INTO tbl_board ( board_no, 
							    title, 
							    content, 
							    member_id )
		VALUES                ( board_seq.NEXTVAL, 
							    #{title}, 
							    #{content}, 
							    #{memberId} )
	</insert>
	
	<update id="updateBoard" parameterType="board">
		UPDATE tbl_board
		SET    update_date = sysdate
		<!-- title값이 있으면 수정 없으면 x -->
		<if test="title != null">
			, title = #{title}
		</if>
		<if test="content != null">
			, content = #{content}
		</if>
		WHERE  board_no = #{boardNo}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM tbl_board
		WHERE       board_no = #{boardNo}
	</delete>
	
	<select id="selectBoard" resultType="board" parameterType="int">
		SELECT 	 board_no,
		       	 title,
		       	 content,
		       	 member_id,
		       	 view_cnt,
		       	 write_date,
		       	 update_date
		FROM   	 tbl_board
		WHERE    board_no = #{boardNo}
	</select>
	
	<update id="updateCount" parameterType="int">
		UPDATE tbl_board
		SET    view_cnt = view_cnt + 1
		WHERE  board_no = #{boardNo}
	</update>
	
	<!-- 페이징 -->
	
	
</mapper>
