<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>FreeBoard</display-name>
	
	<!-- https://tiles.apache.org/framework/tutorial/configuration.html -->
	<!-- listener이 젤 위에 와야한다 -->
	<!-- tiles Setting -->
	<listener>
		<listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Tiles Dispatch Servlet</servlet-name>
		<servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tiles Dispatch Servlet</servlet-name>
		<url-pattern>*.tiles</url-pattern>
	</servlet-mapping>
	
	<!-- front controller 등록 -->
	<!-- servlet-name이 front인 클래스는 com.jin.web.FrontController이 실행된다 -->
	<servlet>
		<servlet-name>front</servlet-name>
		<servlet-class>com.jin.web.FrontController</servlet-class>
	</servlet>
	<!-- .do로 끝나는 파일은 servlet-name이름은 front를 실행시킴 -->
	<servlet-mapping>
		<servlet-name>front</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>






	<!-- 첫 시작 페이지 설정 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


</web-app>